<h1>Home</h1>
<p>Hi reader!</p><br/>
<%= link_to "Contact", controller: 'static_pages', action: 'contact' %> |
<%= link_to "Login", controller: 'authentication', action: 'login' %> |
<%= link_to "Signup", controller: 'authentication', action: 'signup' %> 
